.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  position: relative;
  isolation: isolate;
  z-index: 1;
  background: rgba(255, 255, 255, 0.3);
  @media screen and (max-width: 768px) {
    width: 90%;
    padding: 30px;
    font-size: 1.2rem;
  }
  @media screen and (max-width: 480px) {
    padding: 25px 20px;
  }

  &_input_group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    color: var(--text-white-color);
    letter-spacing: 1px;

    .input {
      margin-top: 10px;
      font-size: 16px;
      font-family: inherit;
      padding: 0.25em 0.5em;
      background-color: var(--text-white-color);
      border: 1px solid #8b8a8b;
      border-radius: 4px;
      outline: none;
      transition: 180ms box-shadow ease-in-out;

      &:not(textarea) {
        line-height: 1;
        height: 2.25rem;
      }
      &:focus {
        border: 1px solid transparent;
        box-shadow: 0px 0px 0px 2px rgba(255, 188, 18, 1);
      }
    }
  }
  &_error {
    font-weight: 700;
    font-family: var(--font-sans);
    letter-spacing: 1.5px;
    color: red;
    margin-top: 10px;
  }
  &_status {
    font-weight: 700;
    font-family: var(--font-sans);
    letter-spacing: 1.5px;
    margin: 0 auto 0 0;
    color: #00c851;
  }
}
textarea.input {
  resize: vertical;
  height: 150px;
}
.form_button_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
  .form_button {
    padding: 0.75em 1.55em 0.75em;
    border-radius: 100vw;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-white-color);
    font-family: var(--font-sans);
    background: var(--hover-color);
    border: none;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      color: var(--blue-color);
    }
    @media screen and (max-width: 768px) {
      font-size: 1.2rem;
      &:hover {
        transform: scale(1);
        color: var(--blue-color);
      }
    }
  }
}

.backdrop {
  display: none;
  position: absolute;
  inset: 0;
  width: 100%;
  background-color: var(--bg-light-color);
  box-shadow: 5px 5px 15px var(--bg-light-color);
  opacity: 0.1;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: -1;
  &_spinner {
    display: none;
  }
  &.loading {
    display: flex;
    z-index: 1;
    opacity: 0.3;

    .backdrop_spinner {
      height: 100px;
      width: 100px;
      display: inline-block;
      z-index: 2;
    }
  }
}
