.hello_wrapper {
  height: 100%;
  width: 100%;
  font-size: 3.7rem;
  text-align: center;
  font-family: var(--font-sans);
  font-weight: 700;
  background: linear-gradient(to left top, #7d118b, var(--hover-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  .hello {
    margin: 0 0 auto 0;
    width: fit-content;
    max-width: 100vw;
    padding: 0 15px;
    &:first-child {
      margin: auto 0 0 0;
    }
  }
}

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../../assets/Hexagon.svg') no-repeat;
  background-size: cover;
  position: relative;
  @media screen and (max-width: 768px) {
    scroll-snap-align: start;
  }
}

.btn_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 35px;
  margin-top: auto;
  .btn {
    background-color: transparent;
    height: 40px;
    font-size: 1.2rem;
    color: var(--hover-color);
    width: 40px;
    border-radius: 20px;
    border: 2px solid var(--hover-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 2s ease-in-out;

    &.show {
      opacity: 1;
    }
    &:hover {
      animation: bounce 1s ease-in infinite;
    }
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}
