.side {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  height: 40%;
  right: auto;
  z-index: 10;
  margin: 10px 0;
  opacity: 1;
  transition: var(--main-transition);
}
.side.hide {
  left: -40px;
  opacity: 0;
}
.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
.icons::after {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  margin: 0px;
  background-color: var(--hover-color);
}

@media screen and (max-width: 768px) {
  .side {
    display: none;
  }
}
