.side {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  height: 40%;
  right: auto;
  z-index: 10;
  margin: 10px 0;
  opacity: 1;
  transition: all 1s 3s ease-in-out;
  mix-blend-mode: difference;
}
.side.hide {
  left: -40px;
  opacity: 0;
}
.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
.icons::after {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  margin: 0px;
  background-color: var(--hover-color);
}

.icon_link {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  font-size: 25px;
  margin-bottom: 16px;
  transition: all 0.3s ease-in-out;
  color: var(--text-white-color);
  isolation: isolate;
}
.icon_link:hover {
  transform: translateY(-4px);
  color: var(--hover-color);
}

@media screen and (max-width: 768px) {
  .side {
    left: 20px;
  }
}
