.side {
  width: 40px;
  height: 40%;
  position: fixed;
  bottom: 0px;
  right: 40px;
  z-index: 10;
  color: #fff;
  margin: 10px 0;
  writing-mode: tb-rl;
  opacity: 1;
  transition: all 1s 3s ease-in-out;
  mix-blend-mode: difference;
}
.side.hide {
  right: -40px;
  opacity: 0;
}
.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.email:hover {
  transform: translateY(-4px);
  color: var(--hover-color);
}

@media screen and (max-width: 768px) {
  .side {
    right: 20px;
  }
}
