.inner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.about {
  height: 100%;
  padding-right: 15px;
  margin-right: 20px;
  color: var(--bg-light-color);
  @media screen and (max-width: 768px) {
    padding: 0;
    margin: 0;
    p {
      font-size: 1.3rem;
    }
  }
}
.p_bg {
  padding: 5px 15px;
  text-align: center;
  background-color: var(--blue-color);
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  height: 100%;
  position: relative;
  isolation: isolate;

  &_img {
    width: 100%;
    min-width: 200px;
    height: 400px;
    object-fit: cover;
    position: relative;
    transition: all 0.2s ease-in-out;
    border-radius: 15px;
    z-index: 1;
    @media screen and (max-width: 768px) {
      min-width: 400px;
      border-radius: 10px;
    }
    @media screen and (max-width: 480px) {
      min-width: 300px;
    }
    @media screen and (max-width: 385px) {
      min-width: 250px;
    }
  }
}

.ul {
  margin-top: 5%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-wrap: wrap;
  &_li {
    font-size: 3rem;
    padding: 10px 0;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_title {
      font-size: 1rem;
      @media screen and (max-width: 768px) {
        font-size: 1.2rem;
      }
    }
  }
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  margin-top: 30px;
  &_button {
    padding: 0.75em 1.55em 0.75em;
    border-radius: 100vw;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-white-color);
    font-family: var(--font-sans);
    background: var(--hover-color);
    border: none;
    cursor: pointer;
    &:hover {
      transform: translateY(0);
      color: var(--text-white-color);
    }
  }
}
