.container {
  background-color: var(--bg-dark-color);
  color: var(--text-white-color);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    min-height: 100%;
  }
}

.section {
  padding: 50px 100px;
  margin: auto 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    padding: 0px 40px 30px;
    text-align: center;
  }
  @media screen and (max-width: 480px) {
    padding: 0px 30px 20px;
  }
}
