.page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-dark-color);
  color: var(--text-white-color);
  height: 100vh;
  width: 100%;
}

.projects {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s ease-in-out;
}
.projects.show {
  opacity: 1;
  transform: translateY(0);
}
